img {
  padding: 0;
  margin: 0;
}

.smaller{
  /*float: left;*/
  width: 50%;
  margin: 0.5em;
  padding: 0.5em;
  border: 3px solid  #409EB8;
}

.bordered{
  border: 3px solid  #409EB8;
}

figure {
  /*float: right;
  width: 30%;*/
  text-align: center;
  /*font-style: italic;*/
  /*font-size: smaller;*/
  text-indent: 0;
  /*border: thin silver solid;*/
  /*margin: 0.5em;
  padding: 0.5em;*/
}
.scaled {
  width: 100%;
}
.quote {
  float: none;
  width: 90%;
  text-align: left;
  /*font-style: italic;*/
  /*font-size: smaller;*/
  text-indent: 0;
  /*border: thin silver solid;*/
  margin: 0.5em;
  padding: 0.5em;
}

figcaption {
  /*background-color: rgba(66, 226, 245, 0.3);*/
  color: black;
  /*font-style: italic;*/
  font-size: 1.5em;
  margin: 0.5em;
  padding: 2px;
  text-align: left;
  text-indent: 2em;
}

html[data-theme="light"] {
    code.literal {
      color: #990099 !important;
      background-color: white !important;
  }
}

html[data-theme="dark"] {
    code.literal {
      color: #cc99cc !important;
      background-color: black !important;
  }
}

