img {
  padding: 0;
  margin: 0;
}

.smaller{
  /*float: left;*/
  width: 50%;
  margin: 0.5em;
  padding: 0.5em;
  border: 3px solid  #3C88BE;
}

.bordered{
  border: 3px solid  #3C88BE;
}

figure {
  /*float: right;
  width: 30%;*/
  text-align: center;
  /*font-style: italic;*/
  /*font-size: smaller;*/
  text-indent: 0;
  /*border: thin silver solid;*/
  /*margin: 0.5em;
  padding: 0.5em;*/
}
.scaled {
  width: 100%;
}
.quote {
  float: none;
  width: 90%;
  text-align: left;
  /*font-style: italic;*/
  /*font-size: smaller;*/
  text-indent: 0;
  /*border: thin silver solid;*/
  margin: 0.5em;
  padding: 0.5em;
}

figcaption {
  /*background-color: rgba(66, 226, 245, 0.3);*/
  color: black;
  /*font-style: italic;*/
  font-size: 1.5em;
  margin: 0.5em;
  padding: 2px;
  text-align: left;
  text-indent: 2em;
}

table {
  border: 2px solid black;
}

th, td {
  border: 1px solid rgb(160 160 160);
  text-align: center;
}

html[data-theme="light"] {
    code.literal {
      color: #1B579D !important;
      background-color: white !important;
    }
}

html[data-theme="dark"] {
    code.literal {
      color: #7AC6F4 !important;
      background-color: black !important;
    }
}

.heatMap1 {
  /*width: 70%;
  text-align: center;*/
}

.heatMap1 th {
  /*background: lightgrey;
  word-wrap: break-word;
  text-align: center;*/
}
.heatMap1 tr:nth-child(even) { background: grey; }


.heatMap2 tr:nth-child(n+5):nth-child(-n+8) { background: grey; }
.heatMap2 tr:nth-child(n+13):nth-child(-n+16) { background: grey; }


.heatMap3 tr:nth-child(n+9) { background: grey; }

.heatMap4 tr:nth-child(n+3):nth-child(-n+4) { background: grey; }
.heatMap4 tr:nth-child(n+7):nth-child(-n+8) { background: grey; }
.heatMap4 tr:nth-child(n+11):nth-child(-n+12) { background: grey; }
.heatMap4 tr:nth-child(n+15):nth-child(-n+16) { background: grey; }
